
body {
  background-color: grey; /* colour of page background  */
}

div {background: rgba(0,120,80) ; /* colour for background on Div */

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;


}


li {
  float: left;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding:  14px;
  text-decoration: none;
  width: 100%;
  font-family: "Courier New"

}

li a:hover {
  background-color: green;
}

/* All H1 writting  */

h1 {
  color: white;
  margin-left: 20px;
  font-style: italic;
  font-family: "Courier New"
}

/* All h2 writting */

h2 {
color: white;
margin-left: 20px
font-style: italic;
font-family: "Courier New"

}

/* All h3 writting */

h3 {
  color: white;
  margin-left: 20px
  font-style: italic;
  font-family: "Courier New"

}


/* All bold writting  */

strong {
  color: white;
  margin-left: 20px;
  font-family: "Courier New"

}

/* All paragraph writting */

p {
color: white
font-style: normal;
margin-left: 20px;
font-family: "Courier New"
}

img {
margin-left: 30px;
border-radius: 20px;
border-color: black;
border-style: solid;
border-width: 5px;
}
